.container{
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.imgCont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgCont img{
    width: 268px;
    height: 100px;
}
.inputsCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 75px;
}
.inputsCont input{
    width: 100%;
    margin: 0 auto 40px;
    padding: 25px;
    font-size: 28px ;
    border: 0;
    background-color: black;
    color: white;
}
::placeholder{
    color: white;
}
.buttonCont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.buttonCont input{
    border: 2px solid black;
    background-color: white;
    color: black;
    font-family: 'Martel Sans', math;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.07em;
    padding: 0 25px;
    width: 200px;
    cursor: pointer;
}
.page{
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}